html, body {
	font-family: Helvetica;
}

#container {
	width: 300px;
	height: 300px;
	padding: 20px;
	margin: 40px auto 0;
	border: solid 1px #ddd;
	overflow: auto;
}

section {
	margin-bottom: 60px;
}

.current {
	background-color: #ddd;
}
